@import "mixins";

$clr-green:         #7AAF36;

body {
    &.story-mode {
        background: url("../images/bg-gradient.png") 0 0 repeat-x;
        background-attachment: fixed;
    }
}

.screen {
    padding-bottom: 10px;

    .stage {
        position: relative;
        width: 1367px; // 1920
        height: 768px; // 1200
        background: url("../images/meow.jpg") 0 0 no-repeat;
        margin: 0 auto 20px auto;
        background-size: cover;
    }
}

.scales {
    background: url("../images/scales.png") 0 0 no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.counter {
    z-index: 2;
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -80px;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    text-align: center;
}

#counter-right {
    left: auto;
    right: 20px;
}

#chapters {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 900;

    ul {
        text-align: center;
        @extend %cleanUL;

        li {
            display: inline-block;
            position: relative;
            vertical-align: bottom;
            @include transitions(0.25s);
            width: 100px;

            &:nth-last-child(1){
                border: none;
            }

            span {
                position: absolute;
                color: #ffffff;
            }

            .number {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $clr-green;
                top: 50%;
                left: 50%;
                margin: -15px 0 0 -15px;
                line-height: 30px;
                @include transitions(0.25s);
                opacity: 0;
                z-index: 5;
            }

            .title {
                padding: 0 10px;
                left: 0;
                text-align: left;
                top: -50px;
                display: none;
            }

            a {
                display: inline-block;
                @include transitions(0.25s);
            }

            img {
                width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include transitions(0.25s);
            }
            
            &:hover {
                z-index: 10;
                width: 110px;

                .title {
                    display: block;
                }

                .number {
                    opacity: 1;
                }

                img {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }

            &.active {
                z-index: 10;
                width: 110px;

                .number {
                    opacity: 1;
                }

                img {
                    width: 110px;
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }
    }
}








h1 {
    margin: 0;
    padding: 20px;
}

.trigger-1 {
    position: absolute;
    right: 20px;
    top: 20px;
}

.action-1 {
    display: none;
    width: 400px;
    height: 320px;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
}

.action-1.active {
    display: block;
}