#chapters ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body.story-mode {
  background: url("../images/bg-gradient.png") 0 0 repeat-x;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0 0 12px 0; }

p {
  line-height: 150%; }

.screen {
  padding-bottom: 60px; }
  .screen .stage {
    position: relative;
    width: 1094px;
    height: 600px;
    background: url("../images/chapter.png") 0 0 no-repeat;
    margin: 0 auto 20px auto;
    background-size: cover; }

#intro .stage, #outro .stage {
  width: 100%;
  background: #ffffff;
  margin: 0; }

#intro .stage {
  height: 800px; }

.chapter-copy {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.active .chapter-copy {
  opacity: 1; }

#scales {
  background: url("../images/scales.png") 0 0 no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4; }

.counter {
  z-index: 2;
  position: fixed;
  left: 20px;
  top: 50%;
  margin-top: -80px;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  text-align: center; }

#counter-right {
  left: auto;
  right: 20px; }

#chapters {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15; }
  #chapters ul {
    text-align: center; }
    #chapters ul li {
      display: inline-block;
      position: relative;
      vertical-align: bottom;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      width: 80px; }
      #chapters ul li:nth-last-child(1) {
        border: none; }
      #chapters ul li span {
        position: absolute;
        color: #ffffff; }
      #chapters ul li .number {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #33482B;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        line-height: 30px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        opacity: 0;
        z-index: 5; }
      #chapters ul li .title {
        padding: 0 5px;
        left: 0;
        text-align: left;
        top: -40px;
        display: none;
        font-size: 13px; }
      #chapters ul li a {
        display: inline-block;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s; }
      #chapters ul li img {
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s; }
      #chapters ul li.active, #chapters ul li:hover {
        z-index: 10;
        width: 90px; }
        #chapters ul li.active .number, #chapters ul li:hover .number {
          opacity: 1; }
        #chapters ul li.active img, #chapters ul li:hover img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }
      #chapters ul li:hover .title {
        display: block; }

#top-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 12; }
  #top-menu a {
    font-size: 50px;
    display: block;
    line-height: 50px;
    text-decoration: none; }
    #top-menu a .box-shadow-menu {
      position: relative;
      padding-left: 1.25em;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #top-menu a .box-shadow-menu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: #ffffff;
      box-shadow: 0 0.25em 0 0 #ffffff, 0 0.5em 0 0 #ffffff;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #top-menu a:hover .box-shadow-menu:before {
      background: #33482B;
      box-shadow: 0 0.25em 0 0 #33482B, 0 0.5em 0 0 #33482B; }

.close-overlay a {
  font-size: 56px;
  color: #7AAF36;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .close-overlay a:hover {
    color: #33482B; }
